$listOfNames: (
	"Roboto": ("Regular": 400)
);

@each $name, $weights in $listOfNames {
	@each $suffix, $val in $weights {
		$path: "../fonts/#{$name}/#{$name}-#{$suffix}";

		@font-face {
			font-family: $name;
			font-weight: $val;
			font-style: normal;
			font-display: swap;
			src:
				local("#{$name} #{$suffix}"),
				url("#{$path}.woff2") format("woff2"),
				url("#{$path}.woff") format("woff"),
				url("#{$path}.ttf") format("truetype"),
				url("#{$path}.eot?#iefix") format("embedded-opentype");
		}
	}
}
